/* Header */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header h2:first-child{
    color: #B95E05;
    font-size: 3.5rem;
    font-family: Arial;
    margin-top: .7rem;
    margin-left: 7rem;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    gap: 6rem;

}
header ul li a {
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 1.3rem;
}
ul li a:hover{
    color: #B95E05;
}
header form{
    margin-top: 1.5rem;
    margin-right: 7.5rem;
}
header form input{
    display: inline-block;
    width: 20rem;
    height: 4rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid #B95E05;
    color: #fff;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 2rem;
}
header form input[placeholder]{
    padding-left: .75rem;
    font-size: 1.5rem;
}
header form button{
    width: 11rem;
    height: 4rem;
    background: #B95E05;
    border: 2px solid #B95E05;
    color: #ffffff;
    font-size: 1.5rem;
    border-bottom-right-radius: .5rem;
    transition: 0.2s ease;
    cursor: pointer;
}
header form button:hover{
    color: #000;
}

/* Main */
main{
    color: #fff;
}
main section{
    margin-top: 13rem;
    margin-left: 20rem;
}
main h1{
    font-family: 'Times New Roman';
    font-size: 5rem;
}
main h1 span{
    color: #ff9640;
    font-size: 6rem;
}
main p:first-of-type{
    font-family: Arial;
    letter-spacing: .15rem;
    line-height: 3rem;
}
main section button{
    width: 15rem;
    height: 4rem;
    background: #B95E05;
    margin-top: 2rem;
    color: #000;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .4s ease;
}
main section button:hover{
    background-color: #fff;
}

/* Form */ 
main form{
    width: 30rem;
    height:45rem;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8) 50%);
    position: absolute;
    top: 23%;
    left: 67.5%;
    border-radius: 10px;
    padding: 25px;
}
main form h2{
    font-family: sans-serif;
    text-align: center;
    color: #B95E05;
    font-size: 2.2rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: 2px;
    padding: 8px;
}
main form input{
    font-family: sans-serif;
    width: 25rem;
    height: 4rem;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: .15rem;
    margin-top: 3rem;
}
main form p:first-of-type{
    margin-top: 1rem;
    font-size: 1.5rem;
}
main form button{
    width: 25rem;
    height: 4rem;
    background: #ff7200;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    transition: 0.4s ease;
}
main form button:hover{
    background: #fff;
}
main form .sign{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    padding-top: 1rem;
    line-height: 2rem;
    text-align: center;
}
main form a {
    color: #ff7200;
}
main form .log{
    text-align: center;
    padding-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
main form nav{
    padding-top: 1rem;
    font-size: 3rem;
    text-align: center;
}

/* Footer */
footer {
    background-color: rgb(227, 227, 227, 0.25);
    text-align: center;
    width: 100%;
    position: relative;
    top: 16.5rem;
}

/* Responsive */
@media screen and (max-width: 80rem) {
    header ul {
        font-size: smaller;
        gap: 1.5rem;
    }
    main section p{
        width: 30rem;
    }
}

@media screen and (max-width: 60rem) {
    header{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    header h2:first-child{
        color: #ff7200;
        font-size: 3.5rem;
        font-family: Arial;
        margin: 2rem 0rem;
        text-align: center;
    }
    header ul{
        display: block;
        margin: 0rem auto;
    }
    header ul li {
        margin-top: 1.5rem;
    }
    header form{
        margin: 3rem auto 0rem;
    }
    main {
        margin: 0rem auto;
        display: block;
    }
    main section{
        margin-left: 0rem;
        text-align: center;
    }
    main section p{
        display: block;
        margin: 2rem auto;
        text-align: center;
        text-align: justify;
    }
    main form{
        margin-top: 30rem;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    footer p{
        font-size: smaller;
    }
}